.video-list {
    margin: 15px 0 100px 0;
}

.video-card {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-bottom: 1px solid lightcoral;
}

.video-card:last-child {
    border: none;
}

.video-thumbnail {
    height: 230px;
    width: 420px;
}

.video-thumbnail iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.video-content {
    width: 50%;
}

.video-content .video-name {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.video-content .video-length {
    font-size: 25px;
    color: #625f5f;
}